header{
    height: 100vh;
    padding-top: 7rem;
    overflow:auto;
}

.header_container{
    text-align: center;
    height: 120%;
    position: relative;
}
section > h5{
    font-size: 3rem;
}
/* *************** CTA **************** */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    opacity:initial;
    transition: transform 250ms,opacity 10000ms;

}
.cta a{
    width: 11rem;
    height:5rem;
    text-align: center;
    line-height: 3.2rem;
    border-color: transparent;
    font-size: 1.1rem;
    backdrop-filter: blur(3px);
    color: white;
    border: 2px dashed darkblue;
}
.cta a:hover{

    transform: scale(1.2);
    background:transparent;
    backdrop-filter: blur(3px);
    color: white;

}

.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    will-change: transform;
    transition: transform 250ms;

}
.header_socials:hover{
    transition-delay: 100ms;
    transform: scale(1.4);

}
.header_socials::before{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);

}


.me{
    height: auto;
    background: var(--color-primary);
    border-radius: 9rem;
    width: 28rem;
    position: absolute;
    left: calc(50% - 14rem);
}
.scroll_down{
    transform: rotate(90deg);
    font-weight:300;
    font-size: 0.8rem;
    
    transition: transform 250ms;

}
.scroll_down:hover{
    transition-duration: 1000ms;
    transform:scale(1.4);

}
@media screen and (max-width: 1024px){
    header{
        height: 68vh;
    }
}

@media screen and (max-width: 600px){
    header{
        height: 100vh;
    }
    .header_socials,
    .scroll_down{
        display: none;
    }
}