header{
    height: 100vh;
    padding-top: 7rem;
    overflow:hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}
section > h5{
    font-size: 3rem;
}
/* *************** CTA **************** */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    opacity:initial;
    transition: transform 250ms,opacity 10000ms;

}
.cta a{
    width: 11rem;
    height:5rem;
    text-align: center;
    line-height: 3.2rem;
    font-size: 1.3rem;
    background:var(--color-primary);
    color: white;
}
.cta:hover{
    transform: scale(1.2);
    opacity: 0;
  
}

.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    will-change: transform;
    transition: transform 250ms;

}
.header_socials:hover{
    transition-delay: 100ms;
    transform: scale(1.4);

}
.header_socials::before{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);

}
.me{
    background: var(--color-primary);
    border-radius:2rem;
    overflow:hidden;  
    display: grid;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 2rem;
}
.scroll_down{
    position:absolute;
    right:-2.3rem;
    bottom:5rem;
    transform: rotate(90deg);
    font-weight:300;
    font-size: 0.9rem;
    transition: transform 250ms;

}
.scroll_down:hover{
    transition-duration: 1000ms;
    transform:scale(1.4);

}
@media screen and (max-width: 1024px){
    header{
        height: 68vh;
    }
}

@media screen and (max-width: 600px){
    header{
        height: 100vh;
    }
    .header_socials,
    .scroll_down{
        display: none;
    }
}