/* CustomPopup.css */
.modal {
    font-family: Arial, sans-serif;
    border: 1px solid #000;
    background-color: #3498db; /* Blue background */
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
    color: #000; /* Black text */
  }
  
  .pop_up_window {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .popup-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #3498db; /* Blue button */
    border: none;
    color: #000; /* Black text */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0; /* Adjust the margin to fit within the portfolio box */
    cursor: pointer;
    border-radius: 12px;
  }
  
  .btn-primary {
    background-color: #3498db; /* Blue button */
  }
  
  .btn-primary:hover {
    background-color: #2980b9; /* Darker shade of blue on hover */
  }
  