
.work{
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    font-size: 6rem;
    margin-bottom: 5%;
}
.workpos{
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    font-size: 3.5rem;
    margin-bottom: 5%;
}
.work-image{
    border-radius: 2rem;
    overflow: hidden;
    display: flex;

}

.portfolio_item{
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}

.portfolio_item:hover{
    transition-duration: 1s;
    border-color: var(--color-primary-variant);
    background: transparent;
}
.portfolio_workitem{
    background-color: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 2rem;
    font-size: 5rem;
    justify-items: center;
    margin-bottom:3rem;
    width: 80%;
    border: 1px solid transparent;
    transition: var(--transition);

}

.portfolio_workitem:hover{
    transition-duration: 1s;
    border-color: var(--color-primary-variant);
    background: transparent;
}
@media screen and (max-width: 1024px){
    .work{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}
@media screen and (max-width: 600px){
    .work{
        grid-template-columns: 3fr;
        gap: 1rem;
        width: 90px;
    }
    .workpos{
        margin-left: 0%;
        margin-right: 0%;
    }
    .portfolio_workitem{
        margin-right:17.5%;
    }
}